timevaryinggraphph.config
.settings/
.DS_Store
.classpath
bin/
example_data/ignore.txt
example_data/shortestpath/
data_generator/__pycache__
flask/__pycache__
flask/venv
data/CollegeMsg*
data/*.txt
data/co-presence/*.txt
data/email-Eu-core-temporal_*
